/desenJbossPro-j2eepro.rhcloud.com/nbproject/private/
/desenJbossPro-j2eepro.rhcloud.com/desenJbossPro-j2eepro.rhcloud.com-war/nbproject/private/
/desenJbossPro-j2eepro.rhcloud.com/desenJbossPro-j2eepro.rhcloud.com-ejb/nbproject/private/